<div class="row nmhxs">
  <div class="col-sm-8 phxs mtm">
    <div class="bg-15 bss bwas bc-13">
      <div class="paxs fsm">
        Food
      </div>
      <div class="paxs bss bwts bc-13">
        <div>
          Hot Breakfast served from 6 to 8 A.M. with coffee &amp; juice
        </div>
        <div>
          Box Lunch available for $10.00
        </div>
        <div class="mtm c-red italicize">
          We will accomodate early hours 5:30 to 7:30 A.M.for <span class="fwl">Frontsight</span> customers
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 phxs mtm">
    <div class="paxs bg-15 bss bwas bc-13">
      <div class="mtxs-plus">
        <div class="fwl">Las Vegas</div>
        <div>
          50 miles away
        </div>
      </div>
      <div class="mtxs-plus">
        <div class="fwl">'FRONTSIGHT' Fire Arms Training Facility</div>
        <div>
          10 miles away
        </div>
      </div>
      <div class="mtxs-plus">
        <div class="fwl">Death Valley, CA</div>
        <div>
          45 miles away
        </div>
      </div>
      <div class="mtxs-plus">
        <div class="fwl">Spring Mtn Race Track</div>
        <div>
          3 miles away
        </div>
      </div>
    </div>
  </div>
</div>
