<div class="row nmhxs">
  <div class="col-sm-8 phxs mtm">
    <div class="paxs bg-15 bss bwas bc-13">
      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=36.1320592,-115.9044701&zoom=13&size=600x400&scale=2&markers=color:blue%7Clabel:K%7C36.1320592,-115.9044701", class: "img-responsive mha" %>
      <p class="mtxs">
        Take Hwy 215 from Las Vegas Airport to Fwy I -15 south and then to Hwy 160 west to Pahrump. ( 50 miles+-) Take left on Manse Road exit for 1/2 mile to the first stop sign. Take left at the stop sign which is Hafen Ranch Road and go one mile. Look for K-7 Pizza and K-7 Bed & Breakfast sign on your left. Come to Pizza entrance for check in.
      </p>
      <div class="mtm fwl">California drivers</div>
      <p>
        Take the exit from I-15 to Baker, California and go north towards Shoshone. At Shoshone make a right turn to the highway that takes you to Pahrump, Nevada (goes East) At the first signal light, turn right on to HWY 160 and go about 5 miles. Exit on 'C.A.A.S' road (only exits to the right) which becomes 'Hafen Ranch road after two blocks. Go exactly one mile on Hafen Ranch road and come into K-7 Pizza entrance to reserve your room or call 775-513-6227
      </p>
    </div>
  </div>
  <div class="col-sm-4 phxs mtm">
    <div class="paxs bg-15 bss bwas bc-13">
      <div class="mtxs-plus">
        <div class="fwl">Location</div>
        <div>
          6050 E. Thousandaire Blvd.</br>
          Pahrump, NV 89061
        </div>
      </div>
      <div class="mtxs-plus">
        <div class="fwl">Phone Number</div>
        <div>
          (775) 513-6227<br/>(775) 727-9070
        </div>
      </div>
    </div>
  </div>
</div>
