<div class="row nmhxs">
  <div class="col-sm-8 phxs mtm">
    <div class="paxs bg-15 bss bwas bc-13">
      <div class="bss bwas bc-13">
        <div class="js-slides" data-width=840 data-height=460>
          <%= image_tag "home_slides/1.jpg" %>
          <%= image_tag "home_slides/2.jpg" %>
          <%= image_tag "home_slides/3.jpg" %>
        </div>
      </div>
      <h3>K-7 Bed &amp; Breakfast</h3>
      <p>
        All Rooms are non smoking and no pets allowed.
      </p>
    </div>
  </div>
  <div class="col-sm-4 phxs mtm">
    <div class="paxs bg-15 bss bwas bc-13">
      <div class="mtxs-plus">
        <div class="fwl">Location</div>
        <div>
          6050 E. Thousandaire Blvd.</br>
          Pahrump, NV 89061
        </div>
      </div>
      <div class="mtxs-plus">
        <div class="fwl">Phone Number</div>
        <div>
          (775) 513-6227<br/>(775) 727-9070
        </div>
      </div>
      <div class="mtxs-plus">
        <div class="fwl">Check In</div>
        <div>
          4:00 pm
        </div>
      </div>
      <div class="mtxs-plus">
        <div class="fwl">Check Out</div>
        <div>
          11:00 am
        </div>
      </div>
      <div class="mtxs-plus italicize">
        Failure to check out at the designated check out time will result in an additional day's room charge.
      </div>
    </div>
  </div>
</div>
