<div class="row nmhxs">
  <div class="col-sm-8 phxs mtm">
    <div class="paxs bg-15 bss bwas bc-13">
      RESERVATION FORM
    </div>
  </div>
  <div class="col-sm-4 phxs mtm">
    <div class="paxs bg-15 bss bwas bc-13">
      <div class="mtxs-plus">
        <div class="fwl">Location</div>
        <div>
          6050 E. Thousandaire Blvd.</br>
          Pahrump, NV 89061
        </div>
      </div>
      <div class="mtxs-plus">
        <div class="fwl">Phone Number</div>
        <div>
          (775) 513-6227<br/>(775) 727-9070
        </div>
      </div>
      <div class="mtxs-plus">
        <div class="fwl">Email</div>
        <div>
          patty@k7bandb.com
        </div>
      </div>
    </div>
  </div>
</div>
