<div class="row nmhxs">
  <div class="col-sm-8 phxs mtm">
    <div class="paxs bg-15 bss bwas bc-13">
      <div class="bss bwas bc-13">
        <div class="js-slides" data-width=502 data-height=376>
          <%= image_tag "rooms_slides/1.jpg" %>
          <%= image_tag "rooms_slides/2.jpg" %>
          <%= image_tag "rooms_slides/3.jpg" %>
        </div>
      </div>
      <p class="mtxs">
        Our Rooms are spacious with separate Bath Rooms and Entry. There is a pizza restaurant and a lounge located next to this facility.
      </p>
    </div>
  </div>
  <div class="col-sm-4 phxs mtm">
    <div class="paxs bg-15 bss bwas bc-13">
      <div class="mtxs-plus">
        <div class="fwl">Sunday thru Thursday</div>
        <div>
          $69/day + tax<br/>Double occupancy
        </div>
      </div>
      <div class="mtxs-plus">
        <div class="fwl">Friday and Saturday</div>
        <div>
          $79/day + tax<br/>Double occupancy
        </div>
      </div>
      <div class="mtxs-plus italicize">
        Rates are subject to change based on availability and demand
      </div>
    </div>
  </div>
</div>
